<html>
	<head>
		<title>参加</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
		<title>DoGRaid出欠申請ページ</title>
		<script type="text/javascript" src="/script/jquery/jquery-1.6.4.min.js"></script> 
		<script type="text/javascript" src="/script/jquery/jquery-setting.js"></script> 
		<link rel="stylesheet" href="/script/jquery/jquery.mobile-1.1.0.min.css" />
		<script type="text/javascript" src="/script/jquery/jquery.mobile-1.1.0.min.js"></script>
	</head>
	<body>
		<div data-role="page" data-theme="b">
			<div data-role="header" data-theme="b" data-position="fixed">
				<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse" class="ui-btn-right jqm-home">Home</a>
				<h1>{{ kaisaibi }}({{youbi}})</h1>
			</div>
			<div data-role="content">
				<form id="dogform">
					<div data-role="controlgroup" data-type="horizontal">
						<a data-role="button" data-icon="home" href="/" >戻る</a>
						<a data-role="button" data-icon="plus" href="/adds?kaisaibi={{ kaisaibi }}" data-iconpos="right">新規</a>
					</div>
					参加　{{ sankacnt }}　名
					<table border>
						<tr STYLE="background-color:#F08080">
							<th>ファイター:{{ sankafcnt }}名</th><th>クラス</th><th>コメント</th><th>更新日時</th><th>修正</th><th>削除</th>
						</tr>
						{% for c in sankaf %}
						<tr STYLE="background-color:{{ c.bgcolor }}">
							<td width="140">{{ c.chara_name|escape }}</td> 
							<td>{{ c.chara_class|escape }}</td> 
							<td align="justify">{% if c.comment_text %}{{ c.comment_text|linebreaks|wordwrap:20 }}{% else %}<br>{% endif %}</td> 
							<td>{{ c.tourokudate_text|escape }}</td>
							<td><a href="/edit?sankaid={{ c.key.id }}" data-role="button" data-icon="gear" data-iconpos="notext">修正</a></td> 
							<td><a href="/delete?sankaid={{ c.key.id }}" data-role="button" data-icon="delete" data-iconpos="notext">削除</a></td> 
						</tr>
						{% endfor %}

						<tr STYLE="background-color:#F0E68C">
							<th>{{sukatsuo}}:{{ sankascnt }}名</th><th>クラス</th><th>コメント</th><th>更新日時</th><th>修正</th><th>削除</th>
						</tr>
						{% for c in sankas %}
						<tr STYLE="background-color:{{ c.bgcolor }}">
							<td width="140">{{ c.chara_name|escape }}</td> 
							<td>{{ c.chara_class|escape }}</td> 
							<td align="justify">{% if c.comment_text %}{{ c.comment_text|linebreaks|wordwrap:20 }}{% else %}<br>{% endif %}</td> 
							<td>{{ c.tourokudate_text|escape }}</td>
							<td><a href="/edit?sankaid={{ c.key.id }}" data-role="button" data-icon="gear" data-iconpos="notext">修正</a></td> 
							<td><a href="/delete?sankaid={{ c.key.id }}" data-role="button" data-icon="delete" data-iconpos="notext">削除</a></td> 
						</tr>
						{% endfor %}

						<tr STYLE="background-color:#9ACD32">
							<th>プリースト:{{ sankapcnt }}名</th><th>クラス</th><th>コメント</th><th>更新日時</th><th>修正</th><th>削除</th>
						</tr>
						{% for c in sankap %}
						<tr STYLE="background-color:{{ c.bgcolor }}">
							<td width="140">{{ c.chara_name|escape }}</td> 
							<td>{{ c.chara_class|escape }}</td> 
							<td align="justify">{% if c.comment_text %}{{ c.comment_text|linebreaks|wordwrap:20 }}{% else %}<br>{% endif %}</td> 
							<td>{{ c.tourokudate_text|escape }}</td>
							<td><a href="/edit?sankaid={{ c.key.id }}" data-role="button" data-icon="gear" data-iconpos="notext">修正</a></td> 
							<td><a href="/delete?sankaid={{ c.key.id }}" data-role="button" data-icon="delete" data-iconpos="notext">削除</a></td> 
						</tr>
						{% endfor %}

						<tr STYLE="background-color:#87CEFA">
							<th>メイジ:{{ sankamcnt }}名</th><th>クラス</th><th>コメント</th><th>更新日時</th><th>修正</th><th>削除</th>
						</tr>
						{% for c in sankam %}
						<tr STYLE="background-color:{{ c.bgcolor }}">
							<td width="140">{{ c.chara_name|escape }}</td> 
							<td>{{ c.chara_class|escape }}</td> 
							<td align="justify">{% if c.comment_text %}{{ c.comment_text|linebreaks|wordwrap:20 }}{% else %}<br>{% endif %}</td> 
							<td>{{ c.tourokudate_text|escape }}</td>
							<td><a href="/edit?sankaid={{ c.key.id }}" data-role="button" data-icon="gear" data-iconpos="notext">修正</a></td> 
							<td><a href="/delete?sankaid={{ c.key.id }}" data-role="button" data-icon="delete" data-iconpos="notext">削除</a></td> 
						</tr>
						{% endfor %}
					</table>
					<br>
					<br>
					遅刻　{{ hoketsucnt }}　名
					<table border>
						<tr STYLE="background-color:#F08080">
							<th>ファイター:{{ hoketsufcnt }}名</th><th>クラス</th><th>コメント</th><th>更新日時</th><th>修正</th><th>削除</th>
						</tr>
						{% for c in hoketsuf %}
						<tr STYLE="background-color:{{ c.bgcolor }}">
							<td width="140">{{ c.chara_name|escape }}</td> 
							<td>{{ c.chara_class|escape }}</td> 
							<td align="justify">{% if c.comment_text %}{{ c.comment_text|linebreaks|wordwrap:20 }}{% else %}<br>{% endif %}</td> 
							<td>{{ c.tourokudate_text|escape }}</td>
							<td><a href="/edit?sankaid={{ c.key.id }}" data-role="button" data-icon="gear" data-iconpos="notext">修正</a></td> 
							<td><a href="/delete?sankaid={{ c.key.id }}" data-role="button" data-icon="delete" data-iconpos="notext">削除</a></td> 
						</tr>
						{% endfor %}

						<tr STYLE="background-color:#F0E68C">
							<th>スカウト:{{ hoketsuscnt }}名</th><th>クラス</th><th>コメント</th><th>更新日時</th><th>修正</th><th>削除</th>
						</tr>
						{% for c in hoketsus %}
						<tr STYLE="background-color:{{ c.bgcolor }}">
							<td width="140">{{ c.chara_name|escape }}</td> 
							<td>{{ c.chara_class|escape }}</td> 
							<td align="justify">{% if c.comment_text %}{{ c.comment_text|linebreaks|wordwrap:20 }}{% else %}<br>{% endif %}</td> 
							<td>{{ c.tourokudate_text|escape }}</td>
							<td><a href="/edit?sankaid={{ c.key.id }}" data-role="button" data-icon="gear" data-iconpos="notext">修正</a></td> 
							<td><a href="/delete?sankaid={{ c.key.id }}" data-role="button" data-icon="delete" data-iconpos="notext">削除</a></td> 
						</tr>
						{% endfor %}

						<tr STYLE="background-color:#9ACD32">
							<th>プリースト:{{ hoketsupcnt }}名</th><th>クラス</th><th>コメント</th><th>更新日時</th><th>修正</th><th>削除</th>
						</tr>
						{% for c in hoketsup %}
						<tr STYLE="background-color:{{ c.bgcolor }}">
							<td width="140">{{ c.chara_name|escape }}</td> 
							<td>{{ c.chara_class|escape }}</td> 
							<td align="justify">{% if c.comment_text %}{{ c.comment_text|linebreaks|wordwrap:20 }}{% else %}<br>{% endif %}</td> 
							<td>{{ c.tourokudate_text|escape }}</td>
							<td><a href="/edit?sankaid={{ c.key.id }}" data-role="button" data-icon="gear" data-iconpos="notext">修正</a></td> 
							<td><a href="/delete?sankaid={{ c.key.id }}" data-role="button" data-icon="delete" data-iconpos="notext">削除</a></td> 
						</tr>
						{% endfor %}

						<tr STYLE="background-color:#87CEFA">
							<th>メイジ:{{ hoketsumcnt }}名</th><th>クラス</th><th>コメント</th><th>更新日時</th><th>修正</th><th>削除</th>
						</tr>
						{% for c in hoketsum %}
						<tr STYLE="background-color:{{ c.bgcolor }}">
							<td width="140">{{ c.chara_name|escape }}</td> 
							<td>{{ c.chara_class|escape }}</td> 
							<td align="justify">{% if c.comment_text %}{{ c.comment_text|linebreaks|wordwrap:20 }}{% else %}<br>{% endif %}</td> 
							<td>{{ c.tourokudate_text|escape }}</td>
							<td><a href="/edit?sankaid={{ c.key.id }}" data-role="button" data-icon="gear" data-iconpos="notext">修正</a></td> 
							<td><a href="/delete?sankaid={{ c.key.id }}" data-role="button" data-icon="delete" data-iconpos="notext">削除</a></td> 
						</tr>
						{% endfor %}
					</table>
					<br>
					<br>
					お休み
					<table border>
						<tr STYLE="background-color:#A9A9A9">
							<th>お休み:{{ yasumicnt }}名</th><th>クラス</th><th>コメント</th><th>更新日時</th><th>修正</th><th>削除</th>
						</tr>
						{% for c in yasumi %}
						<tr STYLE="background-color:{{ c.bgcolor }}">
							<td width="140">{{ c.chara_name|escape }}</td> 
							<td>{{ c.chara_class|escape }}</td> 
							<td align="justify">{% if c.comment_text %}{{ c.comment_text|linebreaks|wordwrap:20 }}{% else %}<br>{% endif %}</td> 
							<td>{{ c.tourokudate_text|escape }}</td>
							<td><a href="/edit?sankaid={{ c.key.id }}" data-role="button" data-icon="gear" data-iconpos="notext">修正</a></td> 
							<td><a href="/delete?sankaid={{ c.key.id }}" data-role="button" data-icon="delete" data-iconpos="notext">削除</a></td> 
						</tr>
						{% endfor %}
					</table>
				</form>
			</div>
			<div data-role="footer" data-theme="b" class="ui-bar" data-position="fixed">
				<a href="/insert?kaisaibi={{ beforedate }}" data-iconpos="top" data-icon="arrow-l">前の開催日</a>
				<a href="/insert?kaisaibi={{ nearestdate }}" data-iconpos="top" data-icon="arrow-u">直近の開催日</a>
				<a href="/insert?kaisaibi={{ nextdate }}" data-iconpos="top" data-icon="arrow-r" data-iconpos="right">次の開催日</a>
			</div>
		</div>
	</body>
</html>

